*{
  padding:0px;
  margin:0px;
}
nav {
    min-width: 250px;
    height: 100%;
    min-height: 700px;
    color: white;
    background-color: #009688;
    position: fixed;
}
nav >div {
    width: 100%;
    padding: 50px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}
nav #banner{
  display:flex;
  height:175px;
}
nav #banner img{
  width:80px;
  height:80px;
}
nav #banner div:nth-child(1) {
    font-weight: bold;
  font-size: 1.85em;}

nav #banner div:nth-child(2){
  font-size:1.0em;
  text-align:right;
}
nav #nav-btns {
    padding: 0 !important;
    margin-top:40px;
}

#nav-btns a{
  text-decoration:none;
  display:block;
  color:white;
  font-size:1.9em;
  text-align:center;
  padding:15px;
  border-bottom:0.5px solid black;
}
#nav-btns a:hover{
  opacity:0.9;
  transform:scale(1.1);
  background:transparent;
}
nav #footer{
  margin-top:10px;
}
.icon-bar{
  display:flex;
	
}
.icon-bar a {
  display: block;
  padding: 16px;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background:black;
}

#main-doc{
  background: #e0ebe8;   
  position: absolute;
  height:200%;
  width:60%;
  margin-left:382px;
  padding:10px;
  text-align:center; 
}

  nav{
  border:1px solid;
    height:207px;
  }
  #intro-image {
    margin-top:70px;
    height: 200px;
    width: 300px;
    border-radius:15%;
}
.main-section p{
  color:green;
}
#quote{
  background:#649382;
  padding:10px;
  margin:50px 70px 0px 70px;
  
}
#my-intro{
  margin-top:5px;
}
#scroll-down{
  
  margin-top:50px;
  height: 40px;
    width: 40px;
  
}

#contact-me{
  margin-top:100px;
  height:250px;
  width:400px;
}
#contact-form{
  display:block;
  margin-top:30px;
}
#contact-form input,textarea{
  padding:10px;
  width:40%;
}
#contact-form button{
  margin-top:20px;
  padding:12px;
  width:42%;
  background-color: #009688;
  color:white;
  font-size:15px;
  margin-botton:200px;
}
#contact-form button .send-now{
  display:none;
}
#contact-form button:hover .send{
  display:none;
}
#contact-form button:hover .send-now{
  display:inline;
  opacity:1.5;
}
#contact-form button:hover #send-btn{
  opacity:0.5;
}
@media screen and (max-width:800px) {
  nav {
    min-width: 250px;
    height: 100%;
    min-height: 400px;
    color: white;
    background-color: #009688;
    position: relative;
}
nav >div {
    width: 30%;
    padding: 50px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}
  
  #main-doc {
    margin-left:0px;
    margin-top:100%;
    width:30%;
    padding:50px;
    height: 100%;
    min-height: 50px;
    position: relative;
   
  }
  
}
#about-me{
  margin-top:50px;
}
#about-me h1{
  font-family: "Montserrat", sans-serif;
  font-size:35px;
  font-weight:bold;
}
#note{
    background:lightgrey;
}
#about-main h3{
  
  font-size:25px;
  font-style:italic;
  font-weight: 650;
}
#about-me p{
  font-family: "Montserrat", sans-serif;
  font-size:18px;
  margin:25px 40px 0 40px;
  text-align: justify;
  font-weight: 0;
}
#knowledge h3{
  margin-top:32px;
  font-size:25px;
  font-style:italic;
  font-weight: 650;
  
}

section:nth-child(2) article {
  font-family: "Montserrat", sans-serif;
  margin-top:10px;
    width: 100%;
    display: flex;
    column-gap: 20%;
  background:lightgrey;
  
  margin-right:30px;
    
}
h4{
  margin-top:30px;
  font-weight:bold;
  padding-bottom:10px;
  
}
section:nth-child(2) article div {
    min-width: 200px;
    flex: auto;
}
@media screen and (min-width:1360px) {
  
  
  #main-doc{
  
  height:100%;
  width:70%;
   
}
  
  
}
   
